# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
saves
options.txt
usercache.json
usernamecache.json
logs
fml.toml
Forge-client.toml
/custom-client-config.toml

# Files from Forge MDK
forge*changelog.txt

# OS X
*.DS_Store
.DS_Store
*.icloud
.vscode
